server:
  port: 8481
spring:
  application:
    name: service2
  zipkin:
    base-url: http://localhost:9411/
  sleuth:
      sampler:
        probability: 1
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
logging:
  level:
    root: debug
